extends includes/head.pug

block vars
    - const title = "Only HTML and CSS"

block append styles 
    link(rel="stylesheet", href="styles/pages/index.sass")

block append content
    p click the square to visit the page
    .grid_container
        .block.page
            a(href="pages/todo.pug") Todo List App UI
        .block.page
            a(href="pages/color-guess.pug") Color Guess
        .block.component
            a(href="components/accordion.pug") Accordion
        .block.page
            a(href="pages/word-game.pug") word-game
