extends includes/head.pug

block vars
    - const title = 'Todo'
    - const NUM = 3

block append styles
    link(rel="stylesheet", href="/styles/pages/todo.sass")

block append content
    form
        input(type="text" placeholder='add todo')
        button(type="submit") +

    ol
        li 
            .todo
                p sample todo
                button del
        - for (var x = 0; x < NUM; x++)
            li
                .todo 
                    p sample todo 
                    button del

    p.message there are #{NUM + 1} unfinished tasks