- title = "Todo"

include includes/head.pug
block styles
    link(rel="stylesheet", href="/styles/pages/todo.sass")

block content 
    form
        input(type="text" placeholder='add todo')
        button(type="submit") +

    ol
        li 
            .todo
                p sample todo
                button del
        li 
            .todo
                p sample todo
                button del
        li 
            .todo
                p sample todo
                button del
        li 
            .todo
                p sample todo
                button del